{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<table data-toggle="table"{# #} class="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable" id="BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable" name="BATCH_MIX_BOTTLES_{{ admin.uniqId }}_blh_mixed_bottle_target_bstable"
        data-id-field="id"
        data-cache="false"
        data-show-columns="true"
        data-search="true"
        data-pagination="false"
        data-pagination-h-align="left"
        data-pagination-detail-h-align="right"
        data-page-list="[15, 25, 30]"
        data-page-size="15"
        data-classes="table table-condensed table-hover table-xray-supreme-head blh-bsfixedtable"
        data-buttons-class="xray-awesome-blue"
        data-search-align="left"
        data-buttons-align="left"
        data-toolbar-align="right">
    <thead>
        <tr>
            <th>Donante</th>
            <th>Cód. (Donante)</th>
            <th>Cód. (Donación)</th>
            <th class="bstable-column-highlighted">Cód. (fco.)</th>
            <th class="bstable-column-highlighted">Vol. (ml)</th>
            <th>Vol. (oz)</th>
            <th>Extracción</th>
            <th>Fecha Reg.</th>
            <th>Vol. combinar (ml)</th>
            <th>Vol. real (ml)</th>
            <th>Vol. residual (ml)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    jQuery(document).ready(function() {
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        //////// collected bottles table
        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });

</script>