<table class="table table-no-bordered table-condensed table-hover table-responsive table-striped table-xray-supreme-head">
                            <thead>
                                <tr>
                                                                            
                                        <th>
                                            Código
                                        </th>
                                                                            
                                        <th>
                                            Vol. frasco pasteurizado (ml)
                                        </th>
                                                                            
                                        <th>
                                            Vol. disponible (ml)
                                        </th>
                                                                            
                                        <th>
                                            Acidez total
                                        </th>
                                                                            
                                        <th>
                                            Total de calorías
                                        </th>
                                                                            
                                        <th>
                                            Observaciones / Comentarios
                                        </th>
                                                                                                        </tr>
                            </thead>
                            <tbody class="sonata-ba-tbody">
                                                                    <tr>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-codigoFrascoProcesado control-group">
                                                                                                    <input type="text" id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_codigoFrascoProcesado" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][codigoFrascoProcesado]" maxlength="15" pattern=".*[a-zA-Z0-9].*" placeholder="código..." class="form-control input-sm" readonly="readonly" data-add-form-group-col-class="col-lg-4 col-md-4 col-sm-4" data-add-input-addon="true" data-add-input-addon-addon="glyphicon glyphicon-barcode" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][codigoFrascoProcesado]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][codigoFrascoProcesado]" style="display: none;"></i>
    

                                                                                                                                                                                                </td>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-volumenFrascoPasteurizado control-group">
                                                                                                    <input type="text" id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_volumenFrascoPasteurizado" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenFrascoPasteurizado]" placeholder="vol. de frasco pasteurizado (ml)..." class="form-control input-sm" data-form-inline-group="start" data-add-form-group-col-class="col-lg-3 col-md-3 col-sm-3" data-add-input-addon="true" data-add-input-addon-addon="glyphicon glyphicon-pushpin" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenFrascoPasteurizado]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenFrascoPasteurizado]" style="display: none;"></i>

                                                                                                                                                                                                </td>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-volumenDisponibleFp control-group">
                                                                                                    <input type="text" id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_volumenDisponibleFp" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenDisponibleFp]" placeholder="vol. disponible (ml)..." class="form-control input-sm" data-form-inline-group="stop" data-add-form-group-col-class="col-lg-3 col-md-3 col-sm-3" data-add-input-addon="true" data-add-input-addon-addon="glyphicon glyphicon-pushpin" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenDisponibleFp]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][volumenDisponibleFp]" style="display: none;"></i>

                                                                                                                                                                                                </td>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-acidezTotal control-group">
                                                                                                    <input type="text" id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_acidezTotal" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][acidezTotal]" placeholder="acidez total..." class="form-control input-sm" data-form-inline-group="start" data-add-form-group-col-class="col-lg-3 col-md-3 col-sm-3" data-add-input-addon="true" data-add-input-addon-addon="glyphicon glyphicon-pushpin" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][acidezTotal]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][acidezTotal]" style="display: none;"></i>

                                                                                                                                                                                                </td>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-kcaloriasTotales control-group">
                                                                                                    <input type="text" id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_kcaloriasTotales" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][kcaloriasTotales]" placeholder="total de calorías..." class="form-control input-sm" data-form-inline-group="stop" data-add-form-group-col-class="col-lg-3 col-md-3 col-sm-3" data-add-input-addon="true" data-add-input-addon-addon="glyphicon glyphicon-pushpin" data-fv-numeric="true" data-fv-numeric-message="El valor no es un número válido" data-fv-numeric-thousandsseparator="" data-fv-numeric-decimalseparator="." min="0" max="32767" data-fv-between-message="Número debe estar entre 0 y 32767" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][kcaloriasTotales]"><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][kcaloriasTotales]" style="display: none;"></i>

                                                                                                                                                                                                </td>
                                                                                    <td class="sonata-ba-td-s599c44936ad3f_pasteurizacionFrascoProcesado-observacionFrascoProcesado control-group">
                                                                                                            <textarea id="s599c44936ad3f_pasteurizacionFrascoProcesado_0_observacionFrascoProcesado" name="s599c44936ad3f[pasteurizacionFrascoProcesado][0][observacionFrascoProcesado]" rows="2" style="resize:none" placeholder="comentarios..." class="form-control input-sm form-control" data-fv-stringlength="true" data-fv-stringlength-min="5" data-fv-stringlength-message="5 caracteres mínimo" data-fv-regexp="true" data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()\^\[\]\{\}\\/'&quot;_-\s]+$" data-fv-regexp-message="Texto contiene caracteres no permitidos" data-fv-field="s599c44936ad3f[pasteurizacionFrascoProcesado][0][observacionFrascoProcesado]"></textarea><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="s599c44936ad3f[pasteurizacionFrascoProcesado][0][observacionFrascoProcesado]" style="display: none;"></i>


                                                                                                                                                                                                </td>
                                                                                                                    </tr>
                                                            </tbody>
                        </table>