{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<div class="modal container {#fade#}" id="field_dialog_{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-focus-on="input:first">
    <div class="modal-dialog modal-lg">
        <div class="modal-content panel-{#success-v3#}default">
            {#<div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">VENTANA ABIERTA</h4>
            </div>#}
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<a id="link_field_dialog_{{ id }}" href="#field_dialog_{{ id }}" role="button" class="btn btn-sm btn-default" data-toggle="modal">pulse</a>